.swiper .swiper-slide {
    position: relative;
}

.swiper .swiper-slide .slide-content {
    position: absolute;
}

.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper .swiper-slide a {

    padding: 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    background: #9B9B9B;
    color: #fff;

}